html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#horizontal-navbar-div {
  display: flex;
  flex-direction: column;
}

#horizontal-navbar {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 50px 15px 5px;
  background-color: #162f44;
  position: fixed;
  z-index: 1;
}

#horizontal-navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#horizontal-navbar li a {
  display: flex;
  color: #d0d0d5;
  padding: 8px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

#horizontal-navbar li:hover,
#horizontal-navbar li a:hover {
  background-color: #162f44;
  color: #8cb4ff;
  border-bottom: 2px solid #ff707f;
}

#horizontal-navbar li:active,
#horizontal-navbar li a:active {
  border-bottom: 2px solid #8cb4ff;
}

#horizontal-navbar li div {
  height: 1rem;
}

#horizontal-navbar li div:hover {
  border-bottom: 3px solid transparent;
}

/*Vertical Navigation Bar and Main*/
#vertical-navbar-and-main-div {
  display: flex;
}

#main-doc {
  position: absolute;
  left: 305px;
  max-width: 50%;
}

#main-doc,
#navbar {
  margin: 150px 2rem;
}

#main-doc header,
#navbar {
 padding-bottom: 8px;
}

#navbar {
  display: block;
  width: 300px;
  position: fixed;
}

#header-navbar {
  text-align: left;
}

#navbar ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

#navbar li {
  display: flex;
  align-items: center;
  text-align: left;
  width: 200px;
}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px;
  text-decoration: none;
}

#navbar li:hover,
#navbar li a:hover {
  background-color: #162f44;
  color: #8cb4ff;
  border-radius: 3px;
}

#navbar li:active,
#navbar li a:active {
  background-color: #162f44;
  color: #d0d0d5;
  border-radius: 3px;
}

#navbar li div {
  height: 1rem;
  margin-left: 1.1rem;
}

header,
h2 {
  font-weight: bold;
  color: #162f44;
  font-size: 1.9em;
}

header:not(.main-header){
  padding-top: 40px;
}

h2 {
  font-size: 1.5em;
}


h3 {
  font-weight: normal;
  color: #162f44;
}

hr {
  height: 0.1rem;
  background-color: #8cb4ff;
  margin-bottom: 15px;
}

article ul li {
  margin-bottom: 0.6rem;
}

mark {
  background-color: pink;
  color: #162f44;
  padding: 1px 5px;
  border-radius: 3px;
}

code span {
  display: block;
  margin-bottom: 0.5rem;
}
.code-space {
  margin: 0.5rem 1rem;
}

.exemple-code {
  display: block;
  border-left: 3px solid #ff707f;
  background-color: #f1f1f1;
  padding: 0.5rem;
}

.button-link {
  display: flex;
  justify-content: center;
  max-width: 200px;
  padding: 8px;
  margin-top: 30px;
  background-color: #162f44;
  color: #8cb4ff;
  border-radius: 3px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.left-border-firstColor {
  border-left: 3px solid #ff707f;
}

.left-border-secondColor {
  border-left: 3px solid #8cb4ff;
}

/*Media Query*/

@media only screen and (max-width: 740px) {
  #navbar {
    display: none;
  }

  #main-doc {
    position: absolute;
    left: 15px;
    margin: 230px auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    /*text-align: center;*/
  }
  /*
  .button-link {
    margin: 20px auto 0;
  }

  .exemple-code {
    text-align: left;
  }
  */

  #horizontal-navbar {
    width: 100%;
    max-height: 200px;
    z-index: 1;
  }

  #horizontal-navbar ul::before {
    content: "CSS Documentation";
    width: 100%;
    color: #d0d0d5;
    font-size: 1.7em;
    font-weight: bold;
    position: fixed;
    margin-top: -160px;
    margin-bottom: 20px;
    padding: 15px 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  #horizontal-navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    margin-top: 30px;
  }

  /* =====Scrollbar Style====*/

  /* Removing Body Scrollbar*/
  body::-webkit-scrollbar{
    display: none;
  }
  
  /* Width */
#horizontal-navbar ul::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
 /*background: #f1f1f1;*/ 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d5; 
}


  #horizontal-navbar a {
    position: relative;
    margin: auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
    max-width: 7em;
  }

  #horizontal-navbar li:hover,
  #horizontal-navbar li a:hover {
    max-width: 6.5em;
    margin: auto;
    background-color: #162f44;
    color: #8cb4ff;
    border-bottom: 2px solid #ff707f;
    border-bottom-width: 0.1rem;
  }

  #horizontal-navbar li:active,
  #horizontal-navbar li a:active {
    border-bottom: 2px solid #8cb4ff;
  }
}
